


<div class="row">
  <div class="col-sm-6">
    <h1>Tenants</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_tenant_path, class: 'btn btn-primary' do %>
    Add New Tenant
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @tenants.each do |tenant| %>
        <%= content_tag :tr, id: dom_id(tenant), class: dom_class(tenant) do %>
          
            <td><%= link_to tenant.name, tenant %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
